h1, h2, h3, h4, h5, h6, p, li, a {
  color: #fff;
}

body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: center;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: #1c1c52;
  justify-content: space-between;
  padding: 10px;
}

nav img {
  width: 100px;
  height: 100px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  border: solid;
  border-color: #ffb200;
  margin: 5px;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  font-size: 1em;
}

.hero {
  background-color: #242565;
  padding: 100px;
}

.hero .slider_images img {
  width: 100%;
  height: auto;
}

.features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #1c1c52;
  padding: 50px;
}

.features h2 {
  display: flex;
  flex-direction: row;
}

.features .smasher {
  width: 50%;
  border-right: 3px solid;
  border-color: #ffb200;
}

.features .smasher h3 {
  display: flex;
  justify-content: center;
}

.features .smasher p {
  padding-top: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  font-size: 1.5em;
  flex-wrap: wrap;
}

.features .simulator {
  width: 50%;
}

.features .simulator h3 {
  display: flex;
  margin-left: 20px;
  justify-content: center;
}

.features .simulator p {
  margin-left: 20px;
  padding-top: 20px;
  display: flex;
  text-align: center;
  font-size: 1.5em;
  flex-wrap: wrap;
}

.login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #242565;
  padding: 50px;
}

.login h3 {
  flex-direction: row;
  font-size: 1.5em;
}

.login .loginfield {
  margin-top: 20px;
  border-right: 3px solid;
  border-color: #ffb200;
  width: 50%;
}

.login .loginfield h3 {
  display: flex;
  justify-content: center;
}

.login .loginfield .loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.login .loginfield .loginform .formlabel {
  color: #fff;
  font-size: 1.4em;
}

.login .loginfield .loginform .forminput {
  margin-top: 10px;
  width: 300px;
  height: 25px;
  border-radius: 5px;
  font-size: 1.2em;
}

.login .loginfield .loginform .formsubmit {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.login .registerfield {
  width: 50%;
  margin-top: 20px;
}

.login .registerfield h2 {
  display: flex;
  justify-content: center;
}

.login .registerfield h3 {
  display: flex;
  justify-content: center;
}

.login .registerfield .registerform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.login .registerfield .registerform .formlabel {
  color: #fff;
  font-size: 1.4em;
}

.login .registerfield .registerform .forminput {
  margin-top: 10px;
  width: 300px;
  height: 25px;
  border-radius: 5px;
  font-size: 1.2em;
}

.login .registerfield .registerform .formsubmit {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.promote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #1c1c52;
  padding: 50px;
}

.promote h2 {
  flex-direction: row;
}

.promote .videoplayer {
  width: 640px;
}

.promote .videoplayer h3 {
  display: flex;
  justify-content: center;
}

.promote .videoplayer iframe {
  margin-top: 20px;
  width: 100%;
  height: 320px;
}

.download {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #242565;
  padding: 50px;
}

.download .download_content {
  margin: 30px;
  display: flex;
  align-items: center;
}

.download .download_content a {
  text-decoration: none;
  border: 4px solid #ffb200;
  border-radius: 7px;
  padding: 20px;
  font-size: 3em;
  width: 300;
  height: 100;
  background-color: none;
}

footer {
  background-color: #1c1c52;
  padding: 50;
  width: 100%;
}

footer .footer_content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

footer .footer_content img {
  width: 100px;
  height: 100px;
}

footer .footer_content li {
  list-style: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 1070px) {
  .hero_content h2 {
    font-size: 2em;
  }
}
